<div class="container">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label>
        {{ 'component.login.email' | translate }}:
        <input type="text" id="email" class="form-control" formControlName="email" required />

        <!-- todo: validace dat do nejake komponenty -->
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div *ngIf="email.errors.required">E-mail is required.</div>
          <div *ngIf="email.errors.minlength">E-mail must be at least 5 characters long.</div>
        </div>

      </label>
    </div>

    <div class="row">
      <label>
        {{ 'component.login.password' | translate }}:
        <input type="password" id="password" class="form-control" formControlName="password" required />
      </label>
    </div>

    <div class="row">
      <div class="col col-md-8 offset-md-4">
        <button type="submit">{{ 'login' | translate }}</button>
      </div>
    </div>
  </form>

</div>
