@import '../../../variables.scss';

::ng-deep {
  .ui-toast-message {
    padding: 0.5em 1em;
    position: absolute !important;
    width: 20%;
    border-radius: 0.3em;
    z-index: 100000000;
    right: 30px;
    top: 30px;

    &.ui-toast-message-warn {
      background: $color-message-warn;
    }

    &.ui-toast-message-error {
      background: $color-message-error;
    }

    &.ui-toast-message-success {
      background: $color-message-success;
    }

    &.ui-toast-message-info {
      background: $color-message-info;
    }
  }
}
