// colors
$color-black: #000000;
$color-grey-light: #dddddd;
$color-grey-lightest: #eeeeee;
$color-white: #ffffff;
$color-blue: #0062cc;
$color-blue-light: #6faff4;

$color-message-warn: #ebeb91;
$color-message-error: #eb9191;
$color-message-success: #9ceb91;
$color-message-info: #91c7eb;

// responsive breakpoints
$breakpoint-xs-max: 575px;
$breakpoint-sm: 576px;
$breakpoint-sm-max: 767px;
$breakpoint-md: 768px;
$breakpoint-md-max: 991px;
$breakpoint-lg: 992px;
$breakpoint-lg-max: 1199px;
$breakpoint-xl: 1200px;

