// colors
$color-grey-light: #dddddd;
$color-grey-lightest: #eeeeee;

// responsive breakpoints
$breakpoint-xs-max: 575px;
$breakpoint-sm: 576px;
$breakpoint-sm-max: 767px;
$breakpoint-md: 768px;
$breakpoint-md-max: 991px;
$breakpoint-lg: 992px;
$breakpoint-lg-max: 1199px;
$breakpoint-xl: 1200px;

