@import '../../../../variables.scss';

#header {
  border-bottom: 1px solid $color-blue-light;

  .container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    a {
      color: $color-black;

      &:hover {
        text-decoration: none;
      }

      h1 {
        text-align: center;

        @media screen and (min-width: $breakpoint-sm) {
          text-align: left;
        }
      }
    }
  }
}
