<!-- buttons -->
<div class="row pb-4">
  <div class="col-6 col-lg-3 col-xl-2">
    <button
      type="button"
      class="{{'btn btn-block ' + this.btnClass['line']}}"
      (click)="switchChartClick('line')"
    >{{ 'button.lineChart' | translate }}</button>
  </div>
  <div class="col-6 col-lg-3 col-xl-2">
    <button
      type="button"
      class="{{'btn btn-block ' + this.btnClass['radar']}}"
      (click)="switchChartClick('radar')"
    >{{ 'button.radarChart' | translate }}</button>
  </div>
</div>

<!-- statistics -->
<div class="row">
  <div class="col-12">
    <p-chart type="line" [data]="lineChart" *ngIf="shownGraph === 'line'"></p-chart>
    <p-chart type="radar" [data]="radarChart" *ngIf="shownGraph === 'radar'"></p-chart>
  </div>
</div>
