<!-- progress bar -->
<div class="row">
  <div class="col-12">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>

<!-- arrows -->
<div class="row pt-4">
  <div class="col-6 col-md-2">
    <button class="btn btn-secondary btn-block" (click)="previousQuestion()">{{ 'button.previousQuestion' | translate }}</button>
  </div>
  <div class="col-6 col-md-2">
    <button class="btn btn-primary btn-block" (click)="nextQuestion()">{{ 'button.nextQuestion' | translate }}</button>
  </div>
</div>

<!-- headline -->
<div class="row pt-4">
  <div class="col-12">
    <h2>{{ selectedQuestion.name }}</h2>
  </div>
</div>

<!-- question -->
<div class="row pt-2">
  <!-- answers -->
  <div *ngIf="selectedQuestion.answers && selectedQuestion.answers.length > 0" class="col-12 col-sm-6">

    <div *ngFor="let item of selectedQuestion.answers; index as i" class="form-group">
      <div class="form-check">
        <div class="row">
          <div class="col-10 col-md-8 col-lg-6">
            <input class="form-check-input" type="radio" name="gridRadios" id="{{ 'gridRadios' + i }}" value="{{ 'option' + i }}" checked>
            <label class="form-check-label" for="{{ 'gridRadios' + i }}">{{ item.answer }}</label>
          </div>
          <div *ngIf="item.icon && item.icon !== ''" class="col-2">
            <img src="{{ item.icon }}" alt="{{ item.answer }}" />
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /answers -->

  <!-- image -->
  <div *ngIf="selectedQuestion.backgroundImage && selectedQuestion.backgroundImage !== ''" class="col-12 col-sm-6">
    <img src="{{ selectedQuestion.backgroundImage }}" alt="{{ selectedQuestion.name }}" />
  </div>
</div>
