<div class="row pb-4">
  <div class="col-12">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="addMedicationClick()"
    >{{ 'button.addMedication' | translate }}</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p-table
      [columns]="tableCols"
      [value]="medications"
      class="medication-table p-datatable p-datatable-responsive-demo"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <div class="p-column-title">{{col.header}}</div>
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
